*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    color: #181717;
    line-height: 1.6;
}
header{
    width: 100%;
}
header .topHeader{
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .topHeader .logo{
    font-size: 24px;
    font-weight: bold;
    color: #181717;
}
header .topHeader .navIcn i{
    color: white;
    padding: 5px;
    border-radius: 50%;
    background: #000;
    font-size: 28px;

}
.hero{
    width: 1920px;
    margin: 0 auto;
}
.hero h1{
    font-size: 158px;
    margin-bottom: 20px;
    line-height: 150px;
    margin-top: 7rem;
    letter-spacing: 2px;
}
.hero img{
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}